<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="d-flex flex-nowrap">
      {% include sidebar.html %}

      <main class="page-content overflow-auto flex-column flex-fill">
        <div id="results" class="all-posts results messages"></div>
        {{ content }}
      </main>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"
  ></script>
    <script src="/assets/lunr.min.js"></script>
    <script src="/assets/lunr-feed.js"></script>
  </body>

  
</html>
